// Custom build settings
ENABLE_BITCODE=NO
ONLY_ACTIVE_ARCH=YES
VALID_ARCHS=arm64
EXCLUDED_ARCHS[sdk=iphonesimulator*]=i386
OTHER_CFLAGS=-Wno-shorten-64-to-32 -DOPENSSL_NO_ASM -DBORINGSSL_PREFIX=GRPC
OTHER_CPLUSPLUSFLAGS=-Wno-shorten-64-to-32 -DOPENSSL_NO_ASM -DBORINGSSL_PREFIX=GRPC
INHERIT_COMPILER_FLAGS=NO
COMPILER_FLAGS=
IPHONEOS_DEPLOYMENT_TARGET=14.0
CLANG_ENABLE_OBJC_ARC=YES
CLANG_ENABLE_MODULES=YES 